.circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 200px;
  height: 200px;
  clip-path: circle(50%);
  background-color: darkred;
  box-shadow: 0 0 10px 0 #3c3c3c;
}